*{
    font-family: Arial, Helvetica, sans-serif;
    
}

html, body{
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: black;
    color:rgb(204, 204, 204);
}

#top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 14vw; 
    max-height: 10vh;
    z-index: 9999;

}

#menu  {
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 5%;
    row-gap: 15%;
    padding-right: 5%;
    padding-left: 5%;
}

#showBtn{
    height: 100%;
    display: none;
}

.title{
    font-size: 10VW;
    font-weight: bolder;
    position: fixed;
    left: 50%;
    height: 14vw;
    transform: translate(-50%);
    align-content: center;
    top: 0;
    display: none;
}

button{
    width: 5vw;
    max-width: 100px;
    min-width: 80px;
    background-color: transparent;
    border: transparent;
    color: rgb(204, 204, 204);
    font-size: 20px;
}

@media (max-width: 500px) {
  #menu {
    display: none; /* some com os botões */
  }

    #showBtn {
        display: grid; /* aparece o menu */
  }

  .title{
    display: grid;
  }

}



#menuVertical {
    position: fixed;
    top: 0; /* abaixo do top */
    left: 0;

    width: 10vw;
    min-width: 85px;
    height: 96vh;

    display: none;
    flex-direction: column;

    gap: 12px;

    z-index: 99909;
    padding: 2vh;
    background-color: rgba(0, 0, 0, 0.5);
}








#container {
    display: flex;
    flex-direction: row;
    width: 600vw; /* 6 páginas = 6 * 100vw */
    height: 100%;
    position: relative;
    z-index: 1;
}

.conteudo{
    padding: 15px;
    width: 70%;
    height: auto;
    max-height: 70vh;
    min-width: 300px;
    background-color: rgba(255, 255, 255, 0.253);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 7%;
    border-radius: 20px;
    margin-top: 15vh;
    overflow-y: auto;
    overflow-x: hidden;
    border: 5px solid rgba(255, 255, 255, 0);
}


#pagInicio {
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    gap: 20px;
}

#img{
    min-width: 200px;
    min-height: 200px;
    width: 30vw;
    height: 30vw;
}

.imgPerfil{
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

.titleInicio{
    font-size: clamp(35px, 9vw, 100px);
    font-weight: bolder;
}


#text{
    align-content: center;
    min-width: 300px;
    width: 40vw;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
}

::-webkit-scrollbar-thumb {
    background: rgba(204, 204, 204, 0);
    border-radius: 10px;
}








#pagPerfil {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#textPerfil{
    min-width: 300px;
    width: 25vw;

    
}






#pagTrabalhos {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}

#pagFeedback {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
}

#pagContato {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}