body{
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
}

#top{
    position: absolute;
    width: 100%;
    height: 10%;
}

#menu  {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7%;
}

#container {
    height: 100%;
    display: inline-flex;
}

#pagInicio {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: purple;
}

#pagTrabalhos {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}

#pagFeedback {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
}

#pagContato {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}